<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elcolegainformatico.antonio.roadsideApp">

    <!--
        The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
        Google Maps Android API v2, but you must specify either coarse or fine
        location permissions for the 'MyLocation' functionality.
   -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to access external storage for Camera-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@drawable/logo_roadside"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_roadside"
        android:supportsRtl="true"
        android:windowSoftInputMode="stateHidden"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
        android:screenOrientation="locked"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:theme="@style/CustomTheme">

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.activities.MenuActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.activities.AsistenciasListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.activities.TipoListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.activities.EntidadVehiculoActivity"
            android:screenOrientation="portrait" />

        <service
            android:name="elcolegainformatico.antonio.roadsideApp.activities.GPSTracker"
            android:enabled="true" />

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.activities.ValidarActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="elcolegainformatico.antonio.roadsideApp.gallery_list_photos.Gallery_MainActivity"
            android:screenOrientation="portrait" />

        <activity android:name="elcolegainformatico.antonio.roadsideApp.gallery_list_photos.Gallery_ShowImageActivity" />

        <activity android:name="elcolegainformatico.antonio.roadsideApp.activities.ResetPasswordActivity" />

        <activity android:name="elcolegainformatico.antonio.roadsideApp.login.view.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="elcolegainformatico.antonio.roadsideApp.registration.view.SignupActivity" />


    </application>

</manifest>